 <link rel="stylesheet" href="../static/cssFiles/sitebanner.css" />
<div class="sitebanner">
    <a href="/">
      <img
        src="../static/images/nigelreviews.gif"
        class="big_logo"
        alt="Nigel Reviews Logo"
    />
    </a>
  <p class="sitebanner_tagline">Review with Nigel, for Nigel, and by Nigel</p>
  <div id="search">
    <form id="search" action="/searchresult" method="post">
      <label for="query">Search Establishments:</label><br />
      <input type="text" id="query" name="query" /><br />
      <input type="submit" />
    </form>
  </div>
  <a id="loginreg" href="/login">
    <h1>Login</h1>
  </a>
  <a id="loginreg" href="/register">
    <h1>Register</h1>
  </a>
</div>