<!DOCTYPE html>
    <head>
        <title> {{title}} </title>
        <link rel="stylesheet" href="../static/cssFiles/frontpage.css">
    </head>
    <body>
        {{>loggedinbanner}}
        <div id="main-content">
            {{{body}}}
        </div>
    </body>
</html>