<div class="establishmentdetails">
      <div class="establishmentinfo">
        <a id="greenlight" href="https://www.foodpanda.ph/restaurant/x1yf/intensitea-blends-southville-binan">
        <h1 id="estabdeetsheader">Intensitea Blends at RL Building</h1>
        <img src="../static/images/establishment2.jpg" id="estabdeetspics" />
        </a>
        
        <h2>From fruit teas to milk teas (and even coffee!) We got it all for you! Located at Archer's Kitcher, RL Lobby</h2>
      </div>
      <div class="establishmentreviews">
        <h1 id="estabdeetsheader">Top Reviews</h1>
        {{#each reviews}}
            {{> review}}
        {{/each}}
      </div>
      <div class="establishmentlocation">
        <h1 id="estabdeetsheader">Location</h1>
        <img src="../static/images/map.png" id="estabdeetspics" />
        <h2>LTI Spine Rd., Laguna Blvd., Brgy's Malamig & Binan, Binan, Laguna</h2>
      </div>
    </div>