<div class="establishmentdetails">
  <div class="establishmentinfo">
    <a id="greenlight" href="https://www.facebook.com/people/Ate-Ricas-Bacsilog-DLSU-Laguna/100091607650610/">
    <h1 id="estabdeetsheader">Ate Rica's Bacsilog at RL Building</h1>
    <img src="../static/images/establishment1.jpg" id="estabdeetspics" />
    </a>
    
    <h2>Ate Rica's Bacsilog is your top bacsilog supplier for all your bacsi
      needs! Visit us at RL Lobby <3</h2>
  </div>
  <div class="establishmentreviews">
    <h1 id="estabdeetsheader">Top Reviews</h1>
    {{#each reviews}}
    {{}}
      {{> review}}
      {{}}
    {{/each}}
  </div>
  <div class="establishmentlocation">
    <h1 id="estabdeetsheader">Location</h1>
    <img src="../static/images/map.png" id="estabdeetspics" />
    <h2>LTI Spine Rd., Laguna Blvd., Brgy's Malamig & Binan, Binan, Laguna</h2>
  </div>
</div>