<div class="establishmentdetails">
      <div class="establishmentinfo">
        <a id="greenlight" href="https://www.facebook.com/dimsumrepubliclipacity/">
        <h1 id="estabdeetsheader">Courtyard Cafeteria</h1>
        <img src="../static/images/establishment4.jpg" id="estabdeetspics" />
        </a>
        
        <h2>Dimsum Republic is here to give you all of your Chinese-style cuisine cravings!</h2>
      </div>
      <div class="establishmentreviews">
        <h1 id="estabdeetsheader">Top Reviews</h1>
        {{#each reviews}}
            {{> review}}
        {{/each}}
      </div>
      <div class="establishmentlocation">
        <h1 id="estabdeetsheader">Location</h1>
        <img src="../static/images/map.png" id="estabdeetspics" />
        <h2>LTI Spine Rd., Laguna Blvd., Brgy's Malamig & Binan, Binan, Laguna</h2>
      </div>
    </div>