<link rel="stylesheet" href="../static/cssFiles/frontpage.css" />


<div class="searchwindow">
    <div class= "searchhead">
        <h1>Search results for {{query}}</h1>
    </div>
</div>
<div class="allestab">
  {{#if establishments}}
    {{#each establishments}}
      {{> oneestab}}
    {{/each}}
  {{/if}}
</div>